.side_ankerpane {
    -fx-background-color: linear-gradient(to right, #a57afd, #c5abfc);}
.txt {
    -fx-text-fill: #fff;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 20px;}
.txt1 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 20px;}
.txt12 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 15px;}
.txt122 {
    -fx-text-fill: #fff;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 15px;}
.txt2 {
    -fx-text-fill: #eaeaea;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 8px;}
.txt22 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 10px;}
.txt223 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 12px;}
.label{
        -fx-font-weight: bold;
        -fx-font-size: 15px;
        -fx-text-fill: #fff;}
.label2{
        -fx-font-weight: bold;
        -fx-font-size: 10px;
        -fx-text-fill: #000;}
.label28{
        -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-text-fill: #000;}
.label27{

        -fx-font-size: 9px;
        -fx-text-fill: #000;}
.label3{
        -fx-font-weight: regular;
        -fx-font-size: 15px;
        -fx-text-fill: #000;}
.label35{
        -fx-font-weight: regular;
        -fx-font-size: 10px;
        -fx-text-fill: #000;}
.label4{

        -fx-font-size: 12px;
        -fx-text-fill: #000;}
.label41{
-fx-font-weight: light;
        -fx-font-size: 10px;
        -fx-text-fill: #000;}
.label42{

        -fx-font-size: 7px;
        -fx-text-fill: #000;}
.btn {
    -fx-background-color: #fff;
    -fx-border-color: #000;

    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-fill: #000;
    -fx-text-fill: #000;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn:pressed{
    -fx-background-color: linear-gradient(to left, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn1 {
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-border-color: #fff;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn1:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn1:pressed{
    -fx-background-color: linear-gradient(to left, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.pane{
-fx-background-color: #fff;
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 30px 30px;
        -fx-background-radius: 30px 30px 30px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}

.boxdes{
-fx-background-color: #e9dffe;
        -fx-background-radius: 20px 20px 20px 20px;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}}

.pane2{
-fx-background-color: #fff;
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 30px 30px;
        -fx-background-radius: 30px 30px 30px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}
.pane28{
-fx-background-color: #bca4ee;
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 30px 30px;
        -fx-background-radius: 30px 30px 30px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}
.pane3{
-fx-background-color: #bca4ee;
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 30px 30px;
        -fx-background-radius: 30px 30px 30px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}
.pane21{
-fx-background-color: #fff;
        -fx-border-color: #fff;


        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.8), 5.0 , 0.0 , 1.0 ,0.0);}
.pane22{
-fx-background-color: #fff;
        -fx-border-color: #fff;

        -fx-border-radius: 15px ;
        -fx-background-radius: 15px ;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}
.pane23{
-fx-background-color: #f5f5f5;
        -fx-border-color: #f5f5f5;

        -fx-border-radius: 10px ;
        -fx-background-radius: 10px ;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0), 0.0 , 0.0 , 1.0 ,0.0);}
.pane233{
-fx-background-color: #a57afd;
        -fx-border-color: #a57afd;

        -fx-border-radius: 0px 0px 10px 10px ;
        -fx-background-radius: 0px 0px 10px 10px ;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0), 0.0 , 0.0 , 1.0 ,0.0);}
.txtfi{
-fx-background-color: #f5f5f5;}