.side_ankerpane {
    -fx-background-color: linear-gradient(to right, #c1c4d5, #fff);}
.side_ankerpane1 {
    -fx-background-color: #d5f3fe;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 10.0 , 0.0 , 0.0 ,5.0);}
.side_ankerpane2 {
    -fx-background-color: #e9dffe;
     -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 10.0 , 0.0 , 0.0 ,5.0);}
.inner_pane {
     -fx-background-color: #fafafa;
     -fx-border-color: #fff;

     -fx-border-radius: 30px 30px 30px 30px;
     -fx-background-radius: 30px 30px 30px 30px;
     -fx-border-style: solid;
     -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 10.0 , 0.0 , 0.0 ,5.0);
     }

.pane {
   -fx-background-color: #fff;
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 00px 30px;
        -fx-background-radius: 30px 30px 00px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.btn_home {
    -fx-background-color: #fff;
    -fx-border-color: #fff;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-fill: #8C8B99;
    -fx-text-fill: #8C8B99;
    -fx-label-padding: 0 35px 0 0;

    }
.btn_home:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_home:pressed{
    -fx-background-color: linear-gradient(to right, #c1c4d5, #fff);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_home1 {
    -fx-background-color: #fff;
    -fx-border-color: #fff;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-fill: #8C8B99;
    -fx-text-fill: #8C8B99;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn_home1:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_home1:pressed{
    -fx-background-color: linear-gradient(to right, #c1c4d5, #fff);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}

.label{
        -fx-font-weight: bold;
        -fx-font-size: 12px;
        -fx-text-fill: #000;
}
.pane1 {
   -fx-background-color: linear-gradient(to top, #fff, #f9f9fb);
        -fx-border-color: #fff;

        -fx-border-radius: 30px 30px 30px 30px;
        -fx-background-radius: 30px 30px 30px 30px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.pane2 {
   -fx-background-color: #e9dffe;
        -fx-border-color: #fff;

        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.label2{
        -fx-font-weight: bold;
        -fx-font-size: 12px;
        -fx-text-fill: #a57afd;
}

.pane21 {
   -fx-background-color: #ffe9de;
        -fx-border-color: #fff;

        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.label21{
        -fx-font-weight: bold;
        -fx-font-size: 12px;
        -fx-text-fill: #fe8c4e;
}
.label22{
        -fx-font-weight: bold;
        -fx-font-size: 12px;
        -fx-text-fill: #fff;
}
.transparent{
    -fx-background-color: #fff;
    -fx-background-radius: 00px;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.transparent2{
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }

.light-gray{
    -fx-background-color: #c5abfc;
    -fx-background-radius: 0px;}
.light-gray2{
        -fx-background-color: #e9dffe;
        -fx-background-radius: 00px 20px 20px 20px;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);}
.tableview{
     -fx-background-color: #fff;
     -fx-background-radius: 20px;
     }
.btn_g {
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-border-color: #fff;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn_g:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_g:pressed{
    -fx-background-color: linear-gradient(to left, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}

.btn_g2 {
    -fx-background-color: linear-gradient(to right, #FE8C4E, #E85F15);
    -fx-border-color: #fff;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn_g2:hover{
    -fx-background-color: linear-gradient(to right, #FE8C4E, #E85F15);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_g2:pressed{
    -fx-background-color: linear-gradient(to left, #E85F15, #FE8C4E);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_g3 {
    -fx-background-color: linear-gradient(to right, #F2BE40, #edc669);
    -fx-border-color: #fff;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn_g3:hover{
    -fx-background-color: linear-gradient(to right, #F2BE40, #edc669);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn_g3:pressed{
    -fx-background-color: linear-gradient(to left, #edc669, #F2BE40);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn {
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-border-color: #fff;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-fill: #FFF;
    -fx-text-fill: #FFF;
    -fx-label-padding: 0 0px 0 0px;

    }
.btn:hover{
    -fx-background-color: linear-gradient(to right, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.btn:pressed{
    -fx-background-color: linear-gradient(to left, #A57AFD, #C5ABFC);
    -fx-text-fill: #fff;
    -fx-fill: #fff;}
.txt {
    -fx-text-fill: #8C8B99;}
.txt5 {
    -fx-text-fill: #8C8B99;
    -fx-font-size: 10px;}
.txt25 {
    -fx-text-fill: #28a7c4;
    -fx-font-family: PublicaSans;
    -fx-font-weight: medium;
    -fx-font-size: 25px;}
.txt2 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: medium;
    -fx-font-size: 25px;}
.txt21 {
    -fx-text-fill: #000;
    -fx-font-family: PublicaSans;
    -fx-font-weight: bold;
    -fx-font-size: 15px;}
.pane12 {
   -fx-background-color: #a57afd;
        -fx-border-color: #fff;

        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.pane14 {
   -fx-background-color: #f2be40;
        -fx-border-color: #fff;

        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.label12{
        -fx-font-weight: bold;
        -fx-font-size: 20px;
        -fx-text-fill: #fff;

}
.label122{
        -fx-font-weight: bold;
        -fx-font-size: 13px;
        -fx-text-fill: #fff;

}
.pane22 {
   -fx-background-color: #fe8c4e;
        -fx-border-color: #fff;

        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3), 5.0 , 0.0 , 1.0 ,0.0);
    }
.label23{
        -fx-font-weight: bold;
        -fx-font-size: 20px;
        -fx-text-fill: #fff;
}
.label231{
        -fx-font-weight: bold;
        -fx-font-size: 15px;
        -fx-text-fill: #fff;
}